
{{!-- <div id="add-category">
	
	<h1>Add a category</h1>
	<form action="/cat" method="POST">
		Category Name: <input type="text" name="category_name">	
		<input type="submit">
	</form>
</div> --}}

<h2>Categories</h2>
{{#if 0}}
<table class="table">

	   <thead>
        
          <th>Category</th>
          <th>Quantity Sold</th>
          
      
      </thead>
      
      	
      <tbody>
      	     {{#each categories}}
			<tr>
			    <td>{{category}}</td>
			    <td>{{quantity}}</td>
			</tr>
		    {{/each}}
      </tbody>
      {{else}}
      {{msg}}
		{{/if}}

</table>
